<div class="container__menu-footer" id="footer">
    <div class="content__menu-footer">
      <div class="content__menu-img-title">
        <div class="content__menu-imgsApp">
            <div class="content__menu-Title-imgs">
                <div class="content__menu-Title">
                    <h1>
                        Download Grátis
                    </h1>
                </div>
                <div class="content__menu-app">
                    <div class="content__menu-img">
                        <div class="content__menu-GooglePlay">
                            <a href="https://play.google.com/">
                                <span class="gray">Baixar na<span class="bolder">Google play</span></span>

                            </a>
                        </div>
                    </div>
                    <div class="content__menu-img2">
                        <div class="content__menu-AppStore">
                            <a href="https://apps.apple.com/">
                                <span class="gray">Baixar na<span class="bolder">App Store</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="content__menu-Links">
            <div class="content__menu-Right">
                <h2>Make the change</h2>
                <a href="">
                    Para Empresas
                </a>

            </div>
            <div class="content__menu-Left">
                <h2>Informações</h2>
                <a href="">
                    Central de Ajuda
                </a>
                <a href="">
                    termos de uso
                </a>
                <a href="">
                    Políticas de Privacidade
                </a>
                <a href="">
                    Canal de Contato
                </a>
            </div>
        </div>
      </div>
        <div class="content__menu-hr">
            <hr>
        </div>
        <div class="content__menu-img-footer">
            <img src="{{photoFooter}}" alt="">
        </div>
        <div class="content__menu-imgSocial">
            <div class="contetn__menu-list">
                <ul class="List-footer">
                    <li><a href=""> <img [src]="'./assets/socialMedia/linkedin.svg'" alt="linkedin"></a></li>
                    <li><a href=""> <img [src]="'./assets/socialMedia/facebook.svg'" alt="facebook"></a></li>
                    <li><a href=""> <img [src]="'./assets/socialMedia/twitter.svg'" alt="twitter"></a></li>
                    <li><a href=""> <img [src]="'./assets/socialMedia/instagram.svg'" alt="instagram"></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>