@media (min-width: 781px) {
  .menu-button {
    display: none;
  }
  .content__list2 {
    display: flex;
  }
  .menu-list {
    display: flex; 
  }
  .menu-container {
    display: flex;
  }
  .content__menu-toggle {
    display: flex;
    align-items: center;
  }
}


@media (max-width: 780px) {
  .menu-container.menu-open {
    width: 100%;
    background-color: #2d2542;
    z-index: 999;
    position: fixed;
    height: 100%;
  }

  .menu-list {
    display: none; 
  }

  .menu-container {
    margin-left: auto;
  }

  .content__menu-toggle {
    display: flex;
  }
  .menu-list1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .menu-list1 > li {
    list-style: none;
    margin-bottom: 1rem;
    color: white;
    border: 1px solid;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .menu-list1 > li:hover {
    background: rgb(175 34 170);
    border: none;
  }
  .menu-list1 > li > a {
    text-decoration: none;
    color: white;
  }
  .spanLeft {
    margin-right: 15px;
  }
  .content__menu-img-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
