<div class="container__menu-login">
  <div class="content__menu-login">
    <div class="line-wrapper">
      <div class="line"></div>
    </div>
    <div class="content__menu-title">
      <h1>Esqueci minha senha</h1>
      <p>Calma! Vamos ajudar você com isso. :)</p>
    </div>
    <div class="content__menu-input">
      <div class="content__menu-img">
        <p class="img"></p>
        <input type="email" id="email" placeholder="E-mail cadastrado" />
      </div>

      <div class="content__menu-btn">
        <a [routerLink]="['']"> <button>Recuperar Senha</button></a>
      </div>

      <div class="content__menu-SenCriar">
        <div class="content__menu-senhaLink">
          <p>Ainda não tem uma conta gratuíta?</p>
        </div>
        <div class="content__menu-contaLink">
          <a [routerLink]="'/new/account'">Criar Conta.</a>
        </div>
      </div>
    </div>
  </div>
</div>
