<div class="container__img-description">
  <div
    class="container__content"
    [style.background-image]="'url(' + photoCover + ')'"
  >

    <div class="content__voltar">
      <a [routerLink]="['']"><</a></div>
   <div class="container__descrip-title">
    <div class="content__description-Title">
     
      <div class="content__title">
        <h1>{{ contentTitle }}</h1>
        <hr>
      </div>
      <div class="content__description">
        <p>{{ contentDescription }}</p>
      </div>
    </div>
  </div>
</div>
</div>
