.container__menu-description {
  padding: 76px 0;
  background: rgb(1, 0, 1);
  background: linear-gradient(
    166deg,
    rgba(1, 0, 1, 1) 1%,
    rgba(16, 12, 152, 1) 59%,
    rgba(0, 0, 0, 1) 91%
  );
}

.content__menu-description {
  display: flex;
  justify-content: center;
}
.content__menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  width: 46%;
}
.content__menu-img > img {
  width: 86%;
  height: 281px;

  display: flex;
  justify-content: center;
  border-radius: 0px 161px 149px 0px;
  -moz-border-radius: 0px 161px 149px 0px;
  -webkit-border-radius: 0px 161px 149px 0px;
  border: 0px solid #000000;
  margin-right: auto;
}
.content__menu-title {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 45%;
  color: white;
  border-radius: 0px 93px 56px 48px;
  -moz-border-radius: 0px 93px 56px 48px;
  -webkit-border-radius: 0px 93px 56px 48px;
  border: 1px solid #fff;
}
.content__menu-title:hover {
  -webkit-box-shadow: -6px 8px 56px 12px rgba(134, 71, 173, 0.69);
  -moz-box-shadow: -6px 8px 56px 12px rgba(134, 71, 173, 0.69);
  box-shadow: -6px 8px 56px 12px rgba(134, 71, 173, 0.69);
}
.content__menu-title > h2 {
  display: flex;
  align-items: center;
  width: 37%;
  text-align: center;
  font-family: "Segoe UI";
  font-weight: 200;
}
